<h1>Calendar</h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                Time
            </th>
            <th scope="col">
                Saturday
            </th>
            <th scope="col">
                Sunday
            </th>
            <th scope="col">
                Monday
            </th>
            <th scope="col">
                Tuesday
            </th>
            <th scope="col">
                Wednesday
            </th>
            <th scope="col">
                Thursday
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                9-10
            </td>
        </tr>
        <tr>
            <td>
                10-11
            </td>
        </tr>
        <tr>
            <td>
                11-12
            </td>
        </tr>
        <tr>
            <td>
                12-1
            </td>
        </tr>
        <tr>
            <td>
                1-2
            </td>
        </tr>
        <tr>
            <td>
                2-3
            </td>
        </tr>
        <tr>
            <td>
                3-4
            </td>
        </tr>
    </tbody>
</table>