<h1>{{title}}</h1>
{{#if group_list}}
    <ol>
        {{#each group_list as |group|}}
            <li>
                <a href="level/group/{{group.url}}">{{group.name}}</a>
            </li>
        {{/each}}
    </ol>
{{else}}
    <h6 class="text-danger">
        There are no groups
    </h6>
{{/if}}