<h1>{{title}}</h1>
<div>
    <p><strong>Level Count: </strong>{{level_count}}</p>
    <p><strong>Group Count: </strong>{{group_count}}</p>
    <p><strong>Student Count: </strong>{{student_count}}</p>
</div>
